*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.container-fluid{
background-image: url("../images/h_img.jpg");
background-size: cover;
background-repeat: no-repeat
}
.container-fluid h4{
    text-align: center;
    color:white;
}
.container-fluid p{
    text-align: center;
    color:white;
}
.card1{
    text-align: center;
}
.card2{
    background-image: url("../images/s_image.jpg");
    background-size:cover;
    text-align: center;
    color:white;
}
.container h3{
    text-align: center;
    padding-top:50px;
}
.click1{
    display:none;
}
.click2{
    display:none;
}
.click3{
    display:none;
}
.card2 h4{
    padding-top:150px;
}
.card4 h3{
    text-align:center;
}
.card4{
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 100px;
    margin-top:20px;

}
.card5{
    background-image: url(../images/c_image.jpg);

}
