*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.container-fluid{
background-image: url("../images/h_img.jpg");
background-size: cover;
background-repeat: no-repeat
}
.container-fluid h4{
    text-align: center;
    color:white;
}
.container-fluid p{
    text-align: center;
    color:white;
}
.card1{
    text-align: center;
    margin-top:50px;
}
.card2{
    background-image: url("../images/s_image.jpg");
    background-size:cover;
    text-align: center;
    color:white;
    padding-bottom:70px;
    margin-top:50px;
}
.card2 h4{
    padding-top:110px;
}
.card3{
    margin-left:0px;
    margin-right:0px;
    text-align:center;
}

.card3 h3{
    text-align: center;
    padding-top:50px;
    margin-bottom:40px;
}
.click1{
    display:none;
}
.click2{
    display:none;
}
.click3{
    display:none;
}

.card4 h3{
    text-align:center;
    margin-bottom:20px;
}
.card4{
    margin-left:180px;
    margin-right:150px;
    margin-bottom: 70px;
    margin-top:20px;

}
.card5{
    background-image: url(../images/c_image.jpg);
    background-size:cover;
    text-align: center;
    padding-bottom:100px;
    margin-top: 0px;
}
.card5 form textarea{
    margin-top:20px;
    width:800px;
}
.card5 form input{
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    color:white;
}
.card5 h4{
    margin-top:50px;
    color:white;
}
.sub1{
    margin-left: 50%;
    padding:10px;
    
}
   
.footer1{
    text-align:center;
    padding:15px;
    margin-top:40px;
}
.footer1 p{
    margin-top:40px;
}


